body{
    background-color: white;
}
table{
    background-color: rgb(0, 0, 0);
    border-color: black;
}
tr{
    background-color: gray;
}
td{
    text-align: center;
    background-color: white;
}
.Final{
    font-size: small;
}
